.summary{
    display: flex;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: hsl(0, 0%, 80%);
    color: black;
    min-height: 38px;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 1rem;
    flex-direction: column;
    .item{
        display: flex;
        flex-direction: row;
        height: 2rem;
        width: 100%;
        .title{
            width: 45%;
        }
        .value{
            width: 55%;
            min-width: 100px;
        }
    }
    .coupon{
        display: flex;
        flex-direction: column;
        height: 8rem;
        justify-content: space-around;
        .input{
            height: 3rem;
            background: white;
            color: black;
            border-color: hsl(0, 0%, 80%);
            outline: none;
            font-size: 1rem;
        }
        .errorText{
            color: rgba(245, 81, 11, 0.615);
        }
    }
    .completed{       
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: rgb(171, 237, 171);
        height: 100px;
        text-align: center;
        border-radius: 3px;
    }
    .hideSummary{
        display: none;
    }
}