.progress{
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    .step{
        border:1px solid black;
        width: 20px;
        height: 20px;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        &.active{
            background-color: black;
            color:white
        }
    }
    .line{
        height: 2px;
        background-color: black;
        width: 150px;
    }
}